.contactsBlock {
    height: 50vh;
    background-color: #764ba4;

}

.contactsCase {
    flex-direction: column;
}

.title {
    background-color: #7ad58f;
}

.form {
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.button {
    width: 100px;
    height: 35px;
}